/*###########################################
 ############################################
                    FLEX - GRID
 ############################################
 ############################################*/
$ms-gtr: 5px;
$ml-gtr: 5px;
$tab-gtr: 10px;
$desk-gtr: 10px;
$standard-gtr: 10px;

.flex-row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex-direction: row;
}
.flex-row-gtr {
  @extend .flex-row;
  margin: $standard-gtr/2;
}
@mixin flex-col-gtr ($width, $gtr) {
  flex-basis: calc(#{$width} - #{$gtr});
  margin: $gtr/2;
}
@mixin flex-col ($width) {
  flex-basis: $width;
}

/*###########################################
 ############################################
                General
 ############################################
 ############################################*/
.col-12 {
  @include flex-col(percentage(12/12))
}
.col-11 {
  @include flex-col(percentage(11/12))
}
.col-10 {
  @include flex-col(percentage(10/12))
}
.col-9 {
  @include flex-col(percentage(9/12))
}
.col-8 {
  @include flex-col(percentage(8/12))
}
.col-7 {
  @include flex-col(percentage(7/12))
}
.col-6 {
  @include flex-col(percentage(6/12))
}
.col-5 {
  @include flex-col(percentage(5/12))
}
.col-4 {
  @include flex-col(percentage(4/12))
}
.col-3 {
  @include flex-col(percentage(3/12))
}
.col-2 {
  @include flex-col(percentage(2/12))
}
.col-1 {
  @include flex-col(percentage(1/12))
}
// WITH GUTTER
.col-12-gtr {
  @include flex-col-gtr(percentage(12/12),$standard-gtr)
}
.col-11-gtr {
  @include flex-col-gtr(percentage(11/12),$standard-gtr)
}
.col-10-gtr {
  @include flex-col-gtr(percentage(10/12),$standard-gtr)
}
.col-9-gtr {
  @include flex-col-gtr(percentage(9/12),$standard-gtr)
}
.col-8-gtr {
  @include flex-col-gtr(percentage(8/12),$standard-gtr)
}
.col-7-gtr {
  @include flex-col-gtr(percentage(7/12),$standard-gtr)
}
.col-6-gtr {
  @include flex-col-gtr(percentage(6/12),$standard-gtr)
}
.col-5-gtr {
  @include flex-col-gtr(percentage(5/12),$standard-gtr)
}
.col-4-gtr {
  @include flex-col-gtr(percentage(4/12),$standard-gtr)
}
.col-3-gtr {
  @include flex-col-gtr(percentage(3/12),$standard-gtr)
}
.col-2-gtr {
  @include flex-col-gtr(percentage(2/12),$standard-gtr)
}
.col-1-gtr {
  @include flex-col-gtr(percentage(1/12),$standard-gtr)
}



/*###########################################
 ############################################
        Mobile-small
 ############################################
 ############################################*/
@include respond-to(mobile-small) {
  .flex-row-gtr {
    margin: $ms-gtr/2;
  }
  .col-12-ms {
    @include flex-col(percentage(12/12))
  }
  .col-11-ms {
    @include flex-col(percentage(11/12))
  }
  .col-10-ms {
    @include flex-col(percentage(10/12))
  }
  .col-9-ms {
    @include flex-col(percentage(9/12))
  }
  .col-8-ms {
    @include flex-col(percentage(8/12))
  }
  .col-7-ms {
    @include flex-col(percentage(7/12))
  }
  .col-6-ms {
    @include flex-col(percentage(6/12))
  }
  .col-5-ms {
    @include flex-col(percentage(5/12))
  }
  .col-4-ms {
    @include flex-col(percentage(4/12))
  }
  .col-3-ms {
    @include flex-col(percentage(3/12))
  }
  .col-2-ms {
    @include flex-col(percentage(2/12))
  }
  .col-1-ms {
    @include flex-col(percentage(1/12))
  }
  // WITH GUTTER
  .col-12-gtr-ms {
    @include flex-col-gtr(percentage(12/12),$ms-gtr)
  }
  .col-11-gtr-ms {
    @include flex-col-gtr(percentage(11/12),$ms-gtr)
  }
  .col-10-gtr-ms {
    @include flex-col-gtr(percentage(10/12),$ms-gtr)
  }
  .col-9-gtr-ms {
    @include flex-col-gtr(percentage(9/12),$ms-gtr)
  }
  .col-8-gtr-ms {
    @include flex-col-gtr(percentage(8/12),$ms-gtr)
  }
  .col-7-gtr-ms {
    @include flex-col-gtr(percentage(7/12),$ms-gtr)
  }
  .col-6-gtr-ms {
    @include flex-col-gtr(percentage(6/12),$ms-gtr)
  }
  .col-5-gtr-ms {
    @include flex-col-gtr(percentage(5/12),$ms-gtr)
  }
  .col-4-gtr-ms {
    @include flex-col-gtr(percentage(4/12),$ms-gtr)
  }
  .col-3-gtr-ms {
    @include flex-col-gtr(percentage(3/12),$ms-gtr)
  }
  .col-2-gtr-ms {
    @include flex-col-gtr(percentage(2/12),$ms-gtr)
  }
  .col-1-gtr-ms {
    @include flex-col-gtr(percentage(1/12),$ms-gtr)
  }
}
/*###########################################
 ############################################
          Mobile-Large
 ############################################
 ############################################*/
 @include respond-to(mobile-large) {
   .flex-row-gtr {
     margin: $ml-gtr/2;
   }
   .col-12-ml {
     @include flex-col(percentage(12/12))
   }
   .col-11-ml {
     @include flex-col(percentage(11/12))
   }
   .col-10-ml {
     @include flex-col(percentage(10/12))
   }
   .col-9-ml {
     @include flex-col(percentage(9/12))
   }
   .col-8-ml {
     @include flex-col(percentage(8/12))
   }
   .col-7-ml {
     @include flex-col(percentage(7/12))
   }
   .col-6-ml {
     @include flex-col(percentage(6/12))
   }
   .col-5-ml {
     @include flex-col(percentage(5/12))
   }
   .col-4-ml {
     @include flex-col(percentage(4/12))
   }
   .col-3-ml {
     @include flex-col(percentage(3/12))
   }
   .col-2-ml {
     @include flex-col(percentage(2/12))
   }
   .col-1-ml {
     @include flex-col(percentage(1/12))
   }
   // WITH GUTTER
   .col-12-gtr-ml {
     @include flex-col-gtr(percentage(12/12),$ml-gtr)
   }
   .col-11-gtr-ml {
     @include flex-col-gtr(percentage(11/12),$ml-gtr)
   }
   .col-10-gtr-ml {
     @include flex-col-gtr(percentage(10/12),$ml-gtr)
   }
   .col-9-gtr-ml {
     @include flex-col-gtr(percentage(9/12),$ml-gtr)
   }
   .col-8-gtr-ml {
     @include flex-col-gtr(percentage(8/12),$ml-gtr)
   }
   .col-7-gtr-ml {
     @include flex-col-gtr(percentage(7/12),$ml-gtr)
   }
   .col-6-gtr-ml {
     @include flex-col-gtr(percentage(6/12),$ml-gtr)
   }
   .col-5-gtr-ml {
     @include flex-col-gtr(percentage(5/12),$ml-gtr)
   }
   .col-4-gtr-ml {
     @include flex-col-gtr(percentage(4/12),$ml-gtr)
   }
   .col-3-gtr-ml {
     @include flex-col-gtr(percentage(3/12),$ml-gtr)
   }
   .col-2-gtr-ml {
     @include flex-col-gtr(percentage(2/12),$ml-gtr)
   }
   .col-1-gtr-ml {
     @include flex-col-gtr(percentage(1/12),$ml-gtr)
   }
 }
/*###########################################
 ############################################
          Tablet
 ############################################
 ############################################*/
 @include respond-to(tablet) {
   .flex-row-gtr {
     margin: $tab-gtr/2;
   }
   .col-12-tab {
     @include flex-col(percentage(12/12))
   }
   .col-11-tab {
     @include flex-col(percentage(11/12))
   }
   .col-10-tab {
     @include flex-col(percentage(10/12))
   }
   .col-9-tab {
     @include flex-col(percentage(9/12))
   }
   .col-8-tab {
     @include flex-col(percentage(8/12))
   }
   .col-7-tab {
     @include flex-col(percentage(7/12))
   }
   .col-6-tab {
     @include flex-col(percentage(6/12))
   }
   .col-5-tab {
     @include flex-col(percentage(5/12))
   }
   .col-4-tab {
     @include flex-col(percentage(4/12))
   }
   .col-3-tab {
     @include flex-col(percentage(3/12))
   }
   .col-2-tab {
     @include flex-col(percentage(2/12))
   }
   .col-1-tab {
     @include flex-col(percentage(1/12))
   }
   // WITH GUTTER
   .col-12-gtr-tab {
     @include flex-col-gtr(percentage(12/12),$tab-gtr)
   }
   .col-11-gtr-tab {
     @include flex-col-gtr(percentage(11/12),$tab-gtr)
   }
   .col-10-gtr-tab {
     @include flex-col-gtr(percentage(10/12),$tab-gtr)
   }
   .col-9-gtr-tab {
     @include flex-col-gtr(percentage(9/12),$tab-gtr)
   }
   .col-8-gtr-tab {
     @include flex-col-gtr(percentage(8/12),$tab-gtr)
   }
   .col-7-gtr-tab {
     @include flex-col-gtr(percentage(7/12),$tab-gtr)
   }
   .col-6-gtr-tab {
     @include flex-col-gtr(percentage(6/12),$tab-gtr)
   }
   .col-5-gtr-tab {
     @include flex-col-gtr(percentage(5/12),$tab-gtr)
   }
   .col-4-gtr-tab {
     @include flex-col-gtr(percentage(4/12),$tab-gtr)
   }
   .col-3-gtr-tab {
     @include flex-col-gtr(percentage(3/12),$tab-gtr)
   }
   .col-2-gtr-tab {
     @include flex-col-gtr(percentage(2/12),$tab-gtr)
   }
   .col-1-gtr-tab {
     @include flex-col-gtr(percentage(1/12),$tab-gtr)
   }
 }
/*###########################################
 ############################################
          Desktop
 ############################################
 ############################################*/
 @include respond-to(desktop) {
   .flex-row-gtr {
     margin: $desk-gtr/2;
   }
   .col-12-desk {
     @include flex-col(percentage(12/12))
   }
   .col-11-desk {
     @include flex-col(percentage(11/12))
   }
   .col-10-desk {
     @include flex-col(percentage(10/12))
   }
   .col-9-desk {
     @include flex-col(percentage(9/12))
   }
   .col-8-desk {
     @include flex-col(percentage(8/12))
   }
   .col-7-desk {
     @include flex-col(percentage(7/12))
   }
   .col-6-desk {
     @include flex-col(percentage(6/12))
   }
   .col-5-desk {
     @include flex-col(percentage(5/12))
   }
   .col-4-desk {
     @include flex-col(percentage(4/12))
   }
   .col-3-desk {
     @include flex-col(percentage(3/12))
   }
   .col-2-desk {
     @include flex-col(percentage(2/12))
   }
   .col-1-desk {
     @include flex-col(percentage(1/12))
   }
   // WITH GUTTER
   .col-12-gtr-desk {
     @include flex-col-gtr(percentage(12/12),$desk-gtr)
   }
   .col-11-gtr-desk {
     @include flex-col-gtr(percentage(11/12),$desk-gtr)
   }
   .col-10-gtr-desk {
     @include flex-col-gtr(percentage(10/12),$desk-gtr)
   }
   .col-9-gtr-desk {
     @include flex-col-gtr(percentage(9/12),$desk-gtr)
   }
   .col-8-gtr-desk {
     @include flex-col-gtr(percentage(8/12),$desk-gtr)
   }
   .col-7-gtr-desk {
     @include flex-col-gtr(percentage(7/12),$desk-gtr)
   }
   .col-6-gtr-desk {
     @include flex-col-gtr(percentage(6/12),$desk-gtr)
   }
   .col-5-gtr-desk {
     @include flex-col-gtr(percentage(5/12),$desk-gtr)
   }
   .col-4-gtr-desk {
     @include flex-col-gtr(percentage(4/12),$desk-gtr)
   }
   .col-3-gtr-desk {
     @include flex-col-gtr(percentage(3/12),$desk-gtr)
   }
   .col-2-gtr-desk {
     @include flex-col-gtr(percentage(2/12),$desk-gtr)
   }
   .col-1-gtr-desk {
     @include flex-col-gtr(percentage(1/12),$desk-gtr)
   }
 }
