/*===========================================
============== HAMBURGER! ==================
==========================================*/
.container {
  // position: relative
}
.menu-button {
  box-sizing:border-box;
  cursor: pointer;
  height: 45px;
  width: 45px;
  margin-left: 4px;
  display: inline-block;
  #hamburger {
    z-index: 999;
    position: relative;
    height:100%;
    span {
      display: block;
       position: absolute;
       height: 4px;
       width: 85%;
        background: white;
       border-radius: 0px;
       right: 0;
       opacity: 1;
       left: 0;
       margin: 0 auto;
      transition: .25s ease-in-out;
    }
  }

  #hamburger.open span {
     background:$red;
  }


  #hamburger span:nth-child(1) {
  top: 8px;
  transform-origin: left center;
}

#hamburger span:nth-child(2) {
  top: 20.5px;
  transform-origin: left center;
}
#hamburger span:nth-child(3) {
  bottom: 8px;
  transform-origin: left center;
}
#hamburger.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 7px;
  left: 9px;
}

#hamburger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#hamburger.open span:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 7px;
    left: 9px;
}
}
.header-row {
  height: 45px;
  // width: 100%;
  background: $darkBlue;
  position: relative;
  z-index: 99;
  &:after {
    clear: both;
    content: "";
    display: block;
  }
}

/*###########################################
 ############################################
 LOGGA UT I HEADER ROW
 ############################################
 ############################################*/
.header-sign-out-container  {
  position: absolute;
  right: 10px;
  top: 0;

  div {
    display: inline-block;
  }

  // display: inline-block;
}



/*###########################################
 ############################################
            SETTINGS CONTAINER
 ############################################
 ############################################*/
.settings-container {
  transition: all .3s ease;
  width: 100%;
  // height: 100%;
  // left:-100%;
  top: -100%;
  // bottom:0;
  padding-bottom: 0;

  background-color: white;
  position: absolute;
  z-index: 99;
  @extend .flex-center;
  // padding-bottom: 40%; // TILLFÄLLIG
}
.settings-container.open {
  // left:0;
  // padding-bottom: 40%;
  // bottom:0;
  top: 0;
}

@include respond-to(mobile) {
  .settings-container.open {
    padding-bottom: 40%;
  }
  .settings-container-inner {
    margin-top: 50px;
    background-color: beige;
    width: 310px;
  }
}

@include respond-to(not-mobile) {
  .settings-container.open {
    padding-bottom: 20%;
  }
  .settings-container-inner {
    margin-top: 50px;
    background-color: beige;
    width: 360px;
  }
}

/*###########################################
 ############################################
 INPUTS
 ############################################
 ############################################*/

.settings-category {
  margin: 30px 0;
}

.settings-container {
  input {
    display: block;
    // margin: 10px 0;
  }

  input[type="text"],input[type="number"],input[type="email"],input[type="password"],button {
    height: 50px;
    width: 100%;
    outline: 0;
    margin: 10px 0;
    box-sizing: border-box;
  }
  #submit-btn {
    padding: 15px 150px;
  }
}

/*###########################################
 ############################################
 LOGOUT, LOGIN, SIGNUP
 ############################################
 ############################################*/
 .user-container {

  input {
    // // height: 30px;
    // // width: 320px;
    // box-sizing: border-box;
    // width: 100%;
    //
    // outline: 0;
  }
 }
 .register-container,.sign-out-container,.sign-in-container, .user-settings-container {
   display: none;
 }
