/*===========================================
============== menu-button ==================
==========================================*/

.menu-button {
  box-sizing:border-box;
  cursor: pointer;
  height: 45px;
  width: 45px;
  margin-left: 4px;
  display: inline-block;
}
.header-row {
  height: 45px;
  // width: 100%;
  background: $darkBlue;
  position: relative;
  z-index: 99;
  &:after {
    clear: both;
    content: "";
    display: block;
  }
}

/*###########################################
 ############################################
 SETTINGS-BTN i HEADER-ROW
 ############################################
 ############################################*/
 .toggle-settings {
   display: none;
   padding: 13px 0;
   width: 170px;
 }



/*###########################################
 ############################################
 LOGGA UT I HEADER ROW
 ############################################
 ############################################*/
.header-out-container, .header-in-container  {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  div {
    display: inline-block;
    color: white;
  }
  button {
    padding: 13px;
    margin-left: 5px;
  }
}

/*###########################################
 ############################################
            SETTINGS CONTAINER
 ############################################
 ############################################*/
 .user-container .user-name {
   text-align: center;
   margin-top: 20px;
   visibility: hidden;
 }
.settings-container {
  width: 100%;
  top:0;
  bottom: 0;
  // left:-100%;
  animation: scale 0.2s  ease-in-out;
  opacity: 0;
  left:0;
  // height: 100%;
  visibility: hidden;
  min-height: 1100px;
  padding-bottom: 0;
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  z-index: 99;
}
.settings-container-inner {
  margin: 80px auto 200px auto;
  background-color: white;
  padding: 50px 30px;
  position: relative;
}
.close-settings-btn {
  position: absolute;
  top: 5px;
  left: 5px;
}
.sign-in-container {
  margin-top: 40px;
}
.settings-container.open {
  opacity: 1;
  visibility: visible;
}
@include respond-to(mobile) {


  .settings-container {
    transition: all 0.2s ease;
  }

  .settings-container.open {
    // padding-bottom: 30%;
  }
  .settings-container-inner {
    width: 300px;
  }
  .header-out-container  {
    div:first-of-type {
      display: none;
    }
  }
}

@include respond-to(not-mobile) {
  .settings-container {
    transition: all .3s ease;
  }
  .settings-container.open {
    // padding-bottom: 20%;
    // min-height: 770px;
  }
  .settings-container-inner {
    width: 360px;
  }
}

/*###########################################
 ############################################
 INPUTS
 ############################################
 ############################################*/
.settings-category {
  margin: 30px 0;
}

.settings-container {
  input {
    display: block;
  }

  input[type="text"],input[type="number"],input[type="email"],input[type="password"],button {
    height: 50px;
    width: 100%;
    outline: 0;
    margin: 10px 0;
    box-sizing: border-box;
  }
}

/*  ======  CHECKBOX ====== */
$checkboxSize: 20px;
.checkbox-animation-container {
  position: relative;
  margin-top: 10px;
}
  .checkbox-container {
    cursor: pointer;
    width: 80px;
    height: $checkboxSize;
    border-radius: $checkboxSize;
    position: relative;
    .checkbox-animation, span {
      display: inline-block;
    }
    span {
      margin: 2px 0 0 10px;
      // padding-left: 10px;
      vertical-align: top;
    }
    .checkbox-animation {
      width: 40px;
      height: 20px;
      border-radius: 15px;
      background-color: $red;
      transition: all .2s ease;
      .animation-ball {
        height: $checkboxSize;
        width: $checkboxSize;
        border-radius: 50%;
        background-color: white;
        left: 20px;
        transition: all .2s ease;
        position: absolute;
        z-index: 1;
      }
    }
  }
  .checkbox {
    cursor: pointer;
    width: 40px;
    height: $checkboxSize;
    box-sizing: border-box;
    opacity: 0;
    z-index: 10;
    position: absolute;
  }
  .checkbox:checked ~ div {
    .checkbox-animation {
      background-color: $green;
    }
    .animation-ball {
      left: 0;
    }
  }

/*###########################################
############################################
   SPARA TILL DB KNAPPEN
############################################
############################################*/
#submit-btn {
  position: relative;
}

.submit-btn-save-todb, .submit-btn-save {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 15px;
}
.save-loader {
  position: absolute;
  right: 40px;
  top: 17px;
  span {
    height: 10px;
    width: 10px;
  }
}

.save-loader, .submit-btn-save-todb {
  display: none;
}





/*###########################################
 ############################################
 LOGOUT, LOGIN, SIGNUP
 ############################################
 ############################################*/
 .register-container,.sign-out-container,.sign-in-container, .user-settings-container {
   display: none;
 }
