/*===========================================
============== HAMBURGER! ==================
==========================================*/

.menu-button {
  box-sizing:border-box;
  cursor: pointer;
  height: 45px;
  width: 45px;
  margin-left: 4px;
  display: inline-block;
}
.header-row {
  height: 45px;
  // width: 100%;
  background: $darkBlue;
  position: relative;
  z-index: 99;
  &:after {
    clear: both;
    content: "";
    display: block;
  }
}

/*###########################################
 ############################################
 SETTINGS-BTN i HEADER-ROW
 ############################################
 ############################################*/
 .toggle-settings {
   display: none;
   padding: 13px 0;
   width: 150px;
 }



/*###########################################
 ############################################
 LOGGA UT I HEADER ROW
 ############################################
 ############################################*/
.header-out-container, .header-in-container  {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  div {
    display: inline-block;
    color: white;
  }
  button {
    padding: 13px;
    margin-left: 5px;
  }
}

/*###########################################
 ############################################
            SETTINGS CONTAINER
 ############################################
 ############################################*/
 html {
   height: 100%;
 }
.settings-container {
  width: 100%;
  top:0;
  bottom: 0;
  left:-100%;
  min-height: 1000px;
  height: 100%;
  padding-bottom: 0;
  background-color: white;
  position: absolute;
  z-index: 99;
  // padding-bottom: 30%;
}

.settings-container-inner {
  margin: 80px auto;
}

.settings-container.open {
  left:0;
}

@include respond-to(mobile) {


  .settings-container {
    transition: all 0.4s ease;
  }

  .settings-container.open {
    // padding-bottom: 30%;
  }
  .settings-container-inner {
    background-color: beige;
    width: 300px;
  }
  .header-out-container  {
    div:first-of-type {
      display: none;
    }
  }
}

@include respond-to(not-mobile) {
  .settings-container {
    transition: all 0.5s ease;
  }
  .settings-container.open {
    // padding-bottom: 20%;
    // min-height: 770px;
  }
  .settings-container-inner {
    background-color: beige;
    width: 360px;
  }
}

/*###########################################
 ############################################
 INPUTS
 ############################################
 ############################################*/
.settings-category {
  margin: 30px 0;
}

.settings-container {
  input {
    display: block;
  }

  input[type="text"],input[type="number"],input[type="email"],input[type="password"],button {
    height: 50px;
    width: 100%;
    outline: 0;
    margin: 10px 0;
    box-sizing: border-box;
  }
}

/*  ======  CHECKBOX ====== */
$checkboxSize: 20px;
.checkbox-animation-container {
  position: relative;
  margin-top: 10px;
}
  .checkbox-container {
    cursor: pointer;
    width: 80px;
    height: $checkboxSize;
    border-radius: $checkboxSize;
    position: relative;
    .checkbox-animation, span {
      display: inline-block;
    }
    span {
      margin: 2px 0 0 10px;
      // padding-left: 10px;
      vertical-align: top;
    }
    .checkbox-animation {
      width: 40px;
      height: 20px;
      border-radius: 15px;
      background-color: $red;
      transition: all .2s ease;
      .animation-ball {
        height: $checkboxSize;
        width: $checkboxSize;
        border-radius: 50%;
        background-color: white;
        left: 20px;
        transition: all .2s ease;
        position: absolute;
        z-index: 1;
      }
    }
  }
  .checkbox {
    cursor: pointer;
    width: 40px;
    height: $checkboxSize;
    box-sizing: border-box;
    opacity: 0;
    z-index: 10;
    position: absolute;
  }
  .checkbox:checked ~ div {
    .checkbox-animation {
      background-color: $green;
    }
    .animation-ball {
      left: 0;
    }
  }

/*###########################################
 ############################################
 LOGOUT, LOGIN, SIGNUP
 ############################################
 ############################################*/
 .register-container,.sign-out-container,.sign-in-container, .user-settings-container {
   display: none;
 }
