
body
{
 font-family: "robotoRegular", sans-serif;
  font-weight: 700;
  letter-spacing: 0.1px;
  font-weight: 300;
  background-color: $darkGrey;
  color: $darkGrey;
  overflow-x: hidden;
}

.flex-card {
  position: relative;
}

/*###########################################
 ############################################
                  CARD COLORS
 ############################################
 ############################################*/
.time-card {
  color: white;
  background-color: $lightBlue;
}
.calender-card {
  color: white;
  background-color: $mediumBlue;
}
.weather-card {
  color: white;
  background-color: $darkBlue;
}
.public-transport-card {
  color: white;
  background-color: $darkestBlue;
}
.twitter-card {
  color: white;
  background-color: $lightBlue;
}
/*###########################################
 ############################################
                  Card-icons
 ############################################
 ############################################*/
 .card-icon {
   position: absolute;
   top: 15px;
  //  color: $red;
   left: 15px;
   margin: 0;
   font-size: 30px;
   text-transform: uppercase;
   i {
     margin-right: 10px;
   }
 }
 .content-container {
 }
