.public-transport-container {

  margin: 0px 5px 5px 5px;
  @extend .flex-row-gtr;
}
.duplicate-container {
  display: none;
}
.distance-to-station {
  display: block;
  font-style: italic;
}

.departure-list {
  list-style: none;
  padding: 10px 5px 10px 10px;
  display: none;
  li {
    margin: 5px 0;
  }
}
.number-of-departures {
  text-align: center;
  padding-bottom: 5px;
}
.station-container {
  cursor: pointer;
  @extend .col-3-gtr;
  background-color: $red;
  @extend .btn;
  h3 {
    text-align: center;
    span:last-of-type { // ID FÖR STATION
      display: none;
    }

  }
}

.departure-btn-container {
  margin: 65px auto 0 auto;
  @extend .flex-center;
}
.departure-btn {
  // display: inline-block;
  padding: 20px 10px;
  text-align: center;
  width: 180px;
  margin: 5px;
}
/*###########################################
 ############################################
                MODAL
 ############################################
 ############################################*/


.modal {
  .departure-list {
    display: block;
    color: $darkGrey;
    padding: 0;
  }
  .number-of-departures {
    display: none;
  }
  h3 {
    text-align: left;
    // padding: 30px;
    .station-name, .distance-to-station {
      display: inline;
    }
    span:last-of-type { // ID FÖR STATION
      display: none;
    }

  }
}
