.public-transport-container {

  margin: 0px 5px 5px 5px;
  @extend .flex-row-gtr;
}
.duplicate-container {
  display: none;
}
.distance-to-station {
  display: block;
  font-style: italic;
}

.departure-list {
  list-style: none;
  padding: 10px 5px 10px 10px;
  display: none;
  li {
    margin: 5px 0;
  }
}
.number-of-departures {
  text-align: center;
  padding-bottom: 5px;
}
.station-container {
  cursor: pointer;
  @extend .col-3-gtr-desk;
  @extend .col-4-gtr-tab;
  @extend .col-6-gtr-ml;
  @extend .col-6-gtr-ms;


  background-color: $red;
  @extend .btn;
  h3 {
    text-align: center;
    span:last-of-type { // ID FÖR STATION
      display: none;
    }

  }
}

@include respond-to(mobile) {
  .departure-btn-container {
    margin: 65px 0 0 0;
    display: block;
  }
  .departure-btn {
    width: calc(100% - 15px);
    // max-width: 400px;
    margin: 5px 7.5px 5px 7.5px;
    padding: 20px 0;
  }
  .departure-btn:last-of-type {
      margin-bottom: 2.5px;
  }

}
@include respond-to(not-mobile) {
  .departure-btn-container {
    margin: 65px auto 0 auto;
    @extend .flex-center;
  }
  .departure-btn {
    width: 180px;
    margin: 5px;
    padding: 20px 10px;

  }
}


.departure-btn {
  // display: inline-block;
  text-align: center;
  // width: 180px;
}

/*###########################################
 ############################################
 SÖK PÅ SPECIFIK STATION
 ############################################
 ############################################*/
 .station-container-open {

   @extend .col-12-gtr-desk;
   @extend .col-12-gtr-tab;
   @extend .col-12-gtr-ml;
   @extend .col-12-gtr-ms;
   background-color: white;
   color: $darkGrey;
   h3 {
     text-align: center;
     span:last-of-type {
       display: none;
     }
   }
 }
.departure-list-open {
  list-style-type: none;
  li {
    margin: 10px 0;
  }
}

/*###########################################
 ############################################
                MODAL
 ############################################
 ############################################*/


.modal {
  .departure-list {
    display: block;
    color: $darkGrey;
    padding: 0;
  }
  .number-of-departures {
    display: none;
  }
  h3 {
    text-align: left;
    .station-name, .distance-to-station {
      display: inline;
    }
    span:last-of-type { // ID FÖR STATION
      display: none;
    }

  }
}
