.twitter-container {
  margin: 65px 15px 15px 15px;
}
.tweet-container {

  border-bottom: 1px solid $darkBlue;
  padding: 15px 0 5px 0;
  p {
    margin: 4px 0;
  }
}
.twitter-link {
display: inline-block;
text-decoration: none;
color: white;
background-color: $red;
padding: 8px;
margin: 10px 10px 10px 0;
}
