$red: #D64541;
$blue: #4183D7;
$green: #26A65B;
$purple: #663399;
$darkGrey: #363636;
$lightGrey: rgb(222,222,222);



$mobile-small-break: 320px;
$mobile-large-break: 767px;
$tablet-break: 1024px;

$gutter: 15px;
